@import url("https://fonts.googleapis.com/css2?family=Inter&family=Arsenal&family=Anton:wght@300;400;500;600;700;800&display=swap");

/* Colors */
:root {
    --color-pure-white: #ffffff;
    --color-almost-white: #eeeeee;
    --color-off-white: #e8e8e8;
    --color-dark-white: #cccccc;
    --color-light-gray: #aaaaaa;
    --color-pure-gray: #888888;
    --color-dark-gray: #4a4a4a;
    --color-light-black: #333333;
    --color-off-black: #222222;
    --color-pure-black: #000000;
    --color-light-teal: #41b883;
    --color-dark-teal: #3e9f73;
    --color-dark-sharks-blue: #043173;
}

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body {
    min-height: 100vh;
    background-color: var(--color-almost-white);
    margin: auto;
    padding: 5px;
    color: var(--color-dark-gray);
    font-size: 20px;
}
.root_section {
    width: 94vw;
    margin: 2em auto;
    padding: 1em;
    justify-content: center;
    background-color: var(--color-off-white);
    border: 2px solid var(--color-pure-black);
    border-radius: 1em;
    text-align: center;
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.3);
}

/* Buttons */
.btn {
    transition: all 0.3s ease;
    color: var(--color-pure-white);
    text-decoration: none;
    font-size: 18px;
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover {
    background-color: var(--color-dark-teal);
}
.btn.active {
    background-color: var(--color-light-teal);
}
.btn.inactive {
    background-color: var(--color-pure-gray);
}
span.active {
    color: var(--color-light-teal);
}
span.inactive {
    color: var(--color-pure-gray);
}

/* Navigation */
.navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
.navigation .btn {
    display: inline-block;
    padding: 0.1em 0.5em;
    background-color: var(--color-light-teal);
    border-radius: 0.4em;
    font-family: "Arsenal", sans-serif;
    font-weight: bold;
}

/* Filters */
.filters {
    display: flex;
    width: 66%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.filters .btn {
    flex: 1;
    padding: 0.4em;
    width: auto;
    border-radius: 0.4em;
    line-height: 100%;
    font-size: 12px;
    font-weight: bold;
}
.filters .btn:hover {
    filter: saturate(150%);
}

/* Team Selection */
.team_info {
    display: flex;
    overflow: auto;
    flex-direction: row;
}
.team_logo {
    flex: 0;
}
.team_logo img {
    border: 2px solid var(--color-pure-black);
    border-radius: 5px;
}
.team_name {
    flex: 5;
    padding-left: 0.8em;
    padding-top: 1.2em;
    text-align: left;
    font-weight: bold;
    color: var(--color-dark-sharks-blue);
    font-family: "Anton", sans-serif;
}
.team_selection_parent {
    flex: 2;
}
.team_select_label {
    font-family: "Anton", sans-serif;
    font-size: 0.9em;
    margin-right: 1em;
    color: var(--color-dark-sharks-blue);
}
.team_select {
    font-family: "Anton", sans-serif;
    height: 3em;
    border: 2px solid var(--color-dark-gray);
}
.team_select option {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

/* Positions Header */
.positions {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-bottom: 1em;
}
.position_acronym {
    border: 1px solid var(--color-pure-black);
    color: var(--color-off-white);
    text-shadow: 1px 1px 0px var(--color-dark-gray), -1px -1px 0px var(--color-dark-gray), 1px -1px 0px var(--color-dark-gray), -1px 1px 0px var(--color-dark-gray);
    font-weight: bold;
}
.show_toggle {
    font-size: 0.8em;
}

/* Position */
.position {
    flex: 1 1;
    animation: FadeIn 0.3s ease-in;
}
.player_name {
    border: 1px solid var(--color-dark-gray);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    padding: 0.3em;
    text-align: left;
    font-family: "Arsenal", sans-serif;
    font-weight: bold;
}
.position_player:nth-child(even) .player_name {
    background-color: var(--color-pure-white);
}
.position_player:nth-child(odd) .player_name {
    background-color: var(--color-almost-white);
}
.sort_btn {
    padding: 0.2em;
    float: right;
    font-size: 0.6em;
    vertical-align: middle;
}
.sort_btn:hover {
    color: var(--color-dark-teal);
    font-weight: bold;
    cursor: pointer;
}
.sort_btn:active {
    color: var(--color-light-teal);
}

/* Dark Mode */
body:has(.dark_mode) {
    background-color: var(--color-pure-black);
    color: var(--color-light-gray);
}
body:has(.dark_mode) .team_select_label {
    color: var(--color-dark-white);
}
body:has(.dark_mode) .root_section {
    background-color: var(--color-off-black);
    color: var(--color-light-gray);
}
body:has(.dark_mode) .team_name {
    color: var(--color-off-white);
    text-shadow: 1px 1px 0px var(--color-pure-black), -1px -1px 0px var(--color-pure-black), 1px -1px 0px var(--color-pure-black), -1px 1px 0px var(--color-pure-black);
}
body:has(.dark_mode) .position_player:nth-child(even) .player_name {
    background-color: var(--color-light-black);
}
body:has(.dark_mode) .position_player:nth-child(odd) .player_name {
    background-color: var(--color-dark-gray);
}
body:has(.dark_mode) .player_name {
    color: var(--color-almost-white);
}
body:has(.dark_mode) .position_acronym {
    filter: saturate(50%);
}

/* Mobile */
@media (max-width: 999px) {
    .team_logo img {
        max-height: 20vh;
        width: auto;
    }
    .team_name {
        padding: 0.1em;
        font-size: 1.2em;
    }
    .team_info, .positions {
        flex-direction: column;
    }
    .filters {
        display: flex;
        width: 100%;
    }
    .filters .btn {
        padding: 0.2em;
    }
}

/* Keyframes */
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}